{% extends 'base.html.twig' %}
{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section class="container mt-3">
        <div class="row">
            <h1 class="text-center">Réinitialisation de mot de passe</h1>
            {{ form_start(requestPassForm) }}
            {{ form_row(requestPassForm.email) }}
            <div class="col-md-12">
                <button type="submit" class="btn btn-outline-primary float-lg-start">
                    <i class="fa fa-btn fa-sign-in"></i>
                    Envoyer
                </button>
                {{ form_end(requestPassForm) }}
            </div>
        </div>
    </section>

{% endblock %}

