<form method="post" action="{{ path('app_bien_immobilier_delete', {'id': bien_immobilier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bien_immobilier.id) }}">
	<button class="btn">Supprimer</button>
</form>
